<h1>Events</h1>

<div>
  <% flash.each do |type, msg| %>
    <p><%= msg %></p>
  <% end %>
</div>

<ul>
  <li><%= link_to 'Profile', current_user %></li>
  <li><%= link_to 'Create new event', new_event_path %></li>
  <li><%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %></li>
</ul>

<div>
  <h3>Today</h3>
  <% @event.today.each do |e| %>
    <div><strong>Created by User #<%= e.creator.id %></strong></div>
    <div><%= e.name %></div>
    <div>Where? <%= e.location %></div>
    <div>When? <%= e.date%></div>
    <div><%= e.attendees.count %> attendees</div>
    <div><%= link_to 'Attend', new_event_event_attendee_path(e.id) %></div>
    <% event_attendee = EventAttendee.find_by(event_attendee_id: current_user.id, attended_event_id: e.id) %>
    <% unless event_attendee.nil? %>
      <div><%= link_to 'Unattend', event_event_attendee_path(e.id, event_attendee.id), data: {
        turbo_method: :delete,
        turbo_confirm: 'Are you sure?'
      } %></div>
    <% end %>
  <% end %>
  <h3>Upcoming</h3>
  <% @event.upcoming.each do |e| %>
    <div><strong>Created by User #<%= e.creator.id %></strong></div>
    <div><%= e.name %></div>
    <div>Where? <%= e.location %></div>
    <div>When? <%= e.date%></div>
    <div><%= e.attendees.count %> attendees</div>
    <div><%= link_to 'Attend', new_event_event_attendee_path(e.id) %></div>
    <% event_attendee = EventAttendee.find_by(event_attendee_id: current_user.id, attended_event_id: e.id) %>
    <% unless event_attendee.nil? %>
      <div><%= link_to 'Unattend', event_event_attendee_path(e.id, event_attendee.id), data: {
        turbo_method: :delete,
        turbo_confirm: 'Are you sure?'
      } %></div>
    <% end %>
  <% end %>
  <h3>Past</h3>
  <% @event.past.each do |e| %>
    <div><strong>Created by User #<%= e.creator.id %></strong></div>
    <div><%= e.name %></div>
    <div>Where? <%= e.location %></div>
    <div>When? <%= e.date%></div>
    <div><%= e.attendees.count %> attendees</div>
  <% end %>
</div>