<h1>Events</h1>

<div>
  <% flash.each do |type, msg| %>
    <p><%= msg %></p>
  <% end %>
</div>

<ul>
  <li><%= link_to 'Create new event', new_event_path %></li>
  <li><%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %></li>
</ul>

<div>
  <% @event.each do |e| %>
    <div><strong>Created by User #<%= e.creator.id %></strong></div>
    <div><%= e.name %></div>
    <div>Where? <%= e.location %></div>
    <div>When? <%= e.date%></div>
    <div><%= e.attendees.count %> attendees</div>
  <% end %>
</div>